.pendingApprovalCard {
  height: 484px;
  background-color: #fff;
  margin-bottom: 24px;
}

.emptyWrap {
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
}
